@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');

* {
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	font-size: 29px;
	color: #5b6d91;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ecf2f7;
}

button {
	font-size: 14px;
	background-color: #FDD85F;
	margin: 50px 10px;
	padding: 12px 26px;
	border-radius: 40px;
	width: auto;
	color: #3b4a67;
	border: none;
	cursor: pointer;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.08);
}

input {

}